<mat-card class="card--margin">
    <mat-card-title>Veículos <mat-icon matSuffix>directions_car</mat-icon>
        <button style="float:right;" mat-raised-button [color]="'light-blue'"
            (click)="editOrAddVehicle()">Adicionar</button>
    </mat-card-title>
    <mat-card-subtitle>Todos os veículos cadastrados do cliente</mat-card-subtitle>
    <mat-card-content>
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">

                <!-- carLicense Column -->
                <ng-container matColumnDef="carLicense">
                    <th mat-header-cell *matHeaderCellDef> Placa </th>
                    <td mat-cell *matCellDef="let element" class="text-uppercase">
                        {{element.carLicense.toUpperCase().substr(0, 3) + '-' + element   .carLicense.substr(3)}} </td>
                </ng-container>

                <!-- model Column -->
                <ng-container matColumnDef="model">
                    <th mat-header-cell *matHeaderCellDef> Modelo </th>
                    <td mat-cell *matCellDef="let element" class="text-uppercase"> {{element.model}} </td>
                </ng-container>

                <!-- brand Column -->
                <ng-container matColumnDef="brand">
                    <th mat-header-cell *matHeaderCellDef> Marca </th>
                    <td mat-cell *matCellDef="let element" class="text-uppercase"> {{element.brand}} </td>
                </ng-container>

                <!-- color Column -->
                <ng-container matColumnDef="color">
                    <th mat-header-cell *matHeaderCellDef> Cor </th>
                    <td mat-cell *matCellDef="let element" class="text-uppercase"> {{element.color}} </td>
                </ng-container>

                <!-- year Column -->
                <ng-container matColumnDef="year">
                    <th mat-header-cell *matHeaderCellDef> Ano </th>
                    <td mat-cell *matCellDef="let element"> {{element.year | date: 'yyyy'}} </td>
                </ng-container>

                <!-- yearModel Column -->
                <ng-container matColumnDef="yearModel">
                    <th mat-header-cell *matHeaderCellDef> Ano modelo </th>
                    <td mat-cell *matCellDef="let element"> {{element.yearModel | date: 'yyyy'}} </td>
                </ng-container>

                <!-- state Column -->
                <ng-container matColumnDef="state">
                    <th mat-header-cell *matHeaderCellDef> UF </th>
                    <td mat-cell *matCellDef="let element" class="text-uppercase"> {{element.state}} </td>
                </ng-container>

                <!-- district Column -->
                <ng-container matColumnDef="district">
                    <th mat-header-cell *matHeaderCellDef> Município </th>
                    <td mat-cell *matCellDef="let element" class="text-capitalize"> {{element.district}} </td>
                </ng-container>

                <!-- chassis Column -->
                <ng-container matColumnDef="chassis">
                    <th mat-header-cell *matHeaderCellDef> Chassi </th>
                    <td mat-cell *matCellDef="let element" class="text-uppercase"> {{element.chassis}} </td>
                </ng-container>

                <!-- edit Column -->
                <ng-container matColumnDef="edit">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element">
                        <span (click)="editOrAddVehicle(element)">
                            <mat-icon style="height: 20px;font-size: 20px; cursor: pointer;margin-right: 2vw;">edit
                            </mat-icon>
                        </span>
                    </td>
                </ng-container>

                <!-- delete Column -->
                <ng-container matColumnDef="delete">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element">
                        <span (click)="deleteVehicle(element)">
                            <mat-icon style="height: 20px;font-size: 20px; cursor: pointer;">delete</mat-icon>
                        </span>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [length]="100" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>

    </mat-card-content>
</mat-card>