<form [formGroup]="orcamentoForm" (ngSubmit)="onSubmit()">
  <mat-card class="card--margin">
    <div style="float:right;margin: 0px;">
      <p style="margin: 0px;float:right;"><span style="font-weight: bold;" *ngIf="id.value"> Nº {{id}} -</span> Valor
        Total <span style="font-weight: bold;">{{valorTotal | currency:'BRL':true }}</span></p>
    </div>
    <mat-card-title *ngIf="!id">Cadastrar novo orçamento <mat-icon matSuffix>assignment</mat-icon>
    </mat-card-title>
    <mat-card-title *ngIf="id && typeFromForm.value === WORK_ORDER_TYPES.Orcamento">Editar Orçamento
      <mat-icon matSuffix>assignment</mat-icon>
    </mat-card-title>
    <mat-card-title *ngIf="id && typeFromForm.value === WORK_ORDER_TYPES.OrdemDeServico">Editar Ordem de Serviço
      <mat-icon matSuffix>assignment</mat-icon>
    </mat-card-title>
    <mat-card-subtitle>Preecha todas as informações marcadas como *</mat-card-subtitle>
    <mat-card-content>
      <div class="form-row">

        <mat-form-field class="form__input" appearance="fill">
          <mat-label>Cliente</mat-label>
          <mat-select formControlName="client" class="text-capitalize">
            <mat-option *ngFor="let client of clients" [value]="client.id" class="text-capitalize">
              {{client.nome}} ({{ client.cpf | mask: '000.000.000-00' }})
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="form__input" appearance="fill">
          <mat-label>Veículo</mat-label>
          <mat-select formControlName="vehicle" class="text-uppercase">
            <mat-option *ngFor="let vehicle of vehicles" [value]="vehicle.id" class="text-uppercase">
              {{ vehicle.placa | mask: 'AAA-0000'}} ({{vehicle.modelo}})
            </mat-option>
          </mat-select>
        </mat-form-field>

      </div>

      <div class="form-row"
        *ngIf="statusFromForm.value !== STATUS.Cancelada && statusFromForm.value !== STATUS.AguardandoAprovacao">

        <mat-form-field class="form__input form__input--capitalize" appearance="fill">
          <mat-label>Data do Pagamento</mat-label>
          <input matInput [matDatepicker]="dataPagamento" placeholder="Data do Pagamento"
            formControlName="dataPagamento">
          <mat-datepicker-toggle matSuffix [for]="dataPagamento"></mat-datepicker-toggle>
          <mat-datepicker #dataPagamento></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="form__input" appearance="fill">
          <mat-label>Forma de pagamento</mat-label>
          <mat-select formControlName="formaPagamento">
            <mat-option *ngFor="let payment of payments" [value]="payment.value">
              {{payment.label}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="form-row" *ngIf="statusFromForm.value !== STATUS.AguardandoAprovacao">
        <mat-form-field class="form__input" appearance="fill">
          <mat-label>Status</mat-label>
          <mat-select formControlName="status">
            <mat-option *ngFor="let state of status" [value]="state.value">
              {{state.label}}
            </mat-option>
            <mat-option *ngIf="statusFromForm.value === STATUS.Cancelada" [value]="STATUS.Cancelada">
              {{ STATUS.Cancelada }}
            </mat-option>
            <mat-option *ngIf="statusFromForm.value === STATUS.AguardandoAprovacao" [value]="STATUS.AguardandoAprovacao">
                {{ STATUS.AguardandoAprovacao }}
              </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="form-row">
        <mat-form-field class="form__input" style="width: 100%" appearance="fill">
          <mat-label>Observações *</mat-label>
          <textarea matInput placeholder="Observações" formControlName="observacoes">  </textarea>
        </mat-form-field>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="card--margin">
    <mat-card-title>Serviços <img matListAvatar src="assets/images/service.png" alt="Serviço" width=22
        style="border-radius:0%">
      <button type="button" mat-icon-button aria-label="Adicionar serviço" style="float:right;"
        *ngIf="statusFromForm.value !== STATUS.Cancelada"
        [color]="statusFromForm.value === STATUS.Cancelada ? '' : 'light-blue'" (click)="addService()">
        <mat-icon>add</mat-icon>
      </button>
    </mat-card-title>
    <mat-card-subtitle>Preecha todas as informações marcadas como *</mat-card-subtitle>

    <div formArrayName="servicos">
      <div class="form-row" *ngFor="let servicoForm of servicoForms.controls; let i=index" [formGroupName]="i">
        <mat-form-field class="form__input" appearance="fill">
          <mat-label>Serviço {{this.servicoForms.controls[i].value.nome}}</mat-label>
          <mat-select formControlName="nome">
            <mat-option
              *ngIf="servicoForms.controls[i].value.nome && filterServices(servicoForms.controls[i].value.nome)"
              [value]="this.servicoForms.controls[i].value.nome">
              {{this.servicoForms.controls[i].value.nome}}
            </mat-option>
            <mat-option *ngFor="let servico of servicos" [value]="servico.nome">
              {{servico.nome}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="form__input form__input--capitalize" appearance="fill">
          <mat-label>Valor</mat-label>
          <input type="number" formControlName="preco" matInput placeholder="Preço">
        </mat-form-field>
        <button type="button" mat-icon-button aria-label="Adicionar serviço" style="float:right;margin-top: 12px;"
          [disabled]="statusFromForm.value === STATUS.Cancelada"
          [color]="statusFromForm.value === STATUS.Cancelada ? '' : 'invalid--inverted'" (click)="deleteService(i)">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>

  </mat-card>

  <mat-card class="card--margin">
    <mat-card-title>Produtos <mat-icon matSuffix>assignment_turned_in</mat-icon>
      <button type="button" mat-icon-button aria-label="Adicionar produto" style="float:right;"
        *ngIf="statusFromForm.value !== STATUS.Cancelada"
        [color]="statusFromForm.value === STATUS.Cancelada ? '' : 'light-blue'" (click)="addProduct()"
        [disabled]="statusFromForm.value === STATUS.Cancelada">
        <mat-icon>add</mat-icon>
      </button>
    </mat-card-title>
    <mat-card-subtitle>Preecha todas as informações marcadas como *</mat-card-subtitle>

    <div formArrayName="produtos">
      <div class="form-row" *ngFor="let produtoForm of produtoForms.controls; let i=index" [formGroupName]="i">
        <mat-form-field class="form__input form__input--capitalize" appearance="fill">
          <mat-label>Produto</mat-label>
          <input type="text" formControlName="nome" matInput placeholder="Produto">
        </mat-form-field>
        <mat-form-field class="form__input form__input--capitalize" appearance="fill">
          <mat-label>Valor</mat-label>
          <input type="number" formControlName="preco" matInput placeholder="Preço">
        </mat-form-field>
        <button type="button" mat-icon-button aria-label="Adicionar serviço" style="float:right;margin-top: 12px;"
          [disabled]="statusFromForm.value === STATUS.Cancelada"
          [color]="statusFromForm.value === STATUS.Cancelada ? '' : 'invalid--inverted'" (click)="deleteProduct(i)">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>

  </mat-card>
</form>

<div class="fixed-bottom fixed-bottom--right">
  <button [disabled]="this.orcamentoForm.invalid || statusFromForm.value === STATUS.Cancelada" type="submit"
    (click)="onSubmit()" mat-fab [color]="statusFromForm.value === STATUS.Cancelada ? 'light-grey' : 'light-blue'">
    <mat-icon>save</mat-icon>
  </button>
</div>

<div class="fixed-bottom fixed-bottom--left">
  <button type="button" style="margin-right: 1rem;"
    *ngIf="statusFromForm.value !== STATUS.Cancelada && id"
    (click)="cancelWorkOrder()" mat-fab color="warn">
    <mat-icon>close</mat-icon>
  </button>
  <button type="button" *ngIf="statusFromForm.value === STATUS.AguardandoAprovacao && id"
    (click)="transformIntoWorkOrder()" mat-fab [color]="'success'">
    <mat-icon>check</mat-icon>
  </button>
</div>