<button mat-button routerLink="/clients" routerLinkActive="active-link">
    <mat-icon matSuffix>person</mat-icon> Clientes
</button>
<button mat-button routerLink="/work-orders/orcamento" routerLinkActive="active-link">
    <mat-icon style="height: 20px;font-size: 20px;">event_note</mat-icon> Orçamentos
</button>
<button mat-button routerLink="/work-orders/ordem-de-servico" routerLinkActive="active-link">
    <mat-icon style="height: 20px;font-size: 20px;">settings_applications</mat-icon> Ordens de Serviço
</button>
<button mat-button routerLink="/services" routerLinkActive="active-link">
    <mat-icon style="height: 20px;font-size: 20px;">build</mat-icon> Serviços
</button>